body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
}

.mainBlock {
    position: relative;
    display: grid;
    padding: 2px;
    min-height: 99vh;
    grid-template-columns: minmax(min-content, 90vw);
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas:
        "header"
        "meny"
        "contentGames"
        "info";
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: stretch;
}

.header {
    position: relative;
    display: grid;
    grid-area: header;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #cdd6ff;
    border: 0px solid;
    border-radius: 14px 14px 0px 0px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.headerWelcomeText {
    position: relative;
    padding: 5px;
    top: 0px;
    left: 0px;
    color: #3d0a2d;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.aside {
    position: relative;
    grid-area: meny;
    display: flex;
    width: 100%;
    height: 25px;
    background-color: #6c80db;
    border: 0px solid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.content {
    position: relative;
    width: 100%;
    height: 99%;
    grid-area: contentGames;
    display: grid;
    padding: 10px 0px 10px;
    background: linear-gradient(180deg, #e7ecff, #b5c4ff);
    border: 0px solid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-template-rows: repeat(auto-fill, 185px);
    justify-items: center;
    justify-content: center;
    align-content: stretch;
    align-items: start;
}

.headerGamesText {
    position: relative;
    padding: 5px;
    top: 0px;
    left: 0px;
    color: #3d0a2d;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.spaseShooterBlock {
    position: relative;
    display: flex;
    border: 0px solid;
    border-radius: 15px;
    background: linear-gradient(#4700ff26, #6b83d9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
}
.logoGame{
    position: relative;
}

.spaseShoterBlock:hover {
    background: linear-gradient(#ff000026, #6b83d9);
}

.spaceShooterCollages {
    position: relative;
    border-radius: 15px;
    padding: 6px;
}

.playSpaceShooterButton {
    position: relative;
    width: 100px;
    height: 25px;
    border: 2px solid #4a2261;
    background-color: #b67fd7;
    font-size: large;
    font-weight: bold;
    color: #120669;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 0px black);
    user-select: none;
}
.playSpaceShooterButton:hover {
    background: linear-gradient(#ff000026, #6b83d9);
    filter: drop-shadow(1px 1px 0px rgb(247, 141, 141));
}

.infoBlock {
    position: relative;
    grid-area: info;
    display: flex;
    width: 100%;
    height: 25px;
    border-radius: 0px 0px 14px 14px;
    background-color: #6c80db;
    border: 0px solid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.infoText {
    position: relative;
    padding: 5px;
    top: 0px;
    left: 0px;
    color: #3d0a2d;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}