html,
body {
    margin: 0px;
}

.mainBlock {
    overflow: hidden;
    position: absolute;
    display: grid;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(180deg, #ffffff, #6c9852);
    grid-template-rows: max-content max-content max-content auto max-content;
    grid-template-areas:
        "myName"
        "header"
        "headerMyWorks"
        "content"
        "info";
    justify-content: center;
}

.headerMyName {
    position: relative;
    display: grid;
    grid-area: myName;
    width: 100%;
    background: #ba4548;
    justify-content: start;
    justify-items: start;
    padding: 10px 0px 8px 0px;
}

.myNameText {
    position: relative;
    color: #f2e7d0;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    left: 17px;
}

.descriptionText {
    position: relative;
    padding: 5px;
    top: 0px;
    left: 0px;
    color: #f2e7d0;
    font-size: 16px;
    text-align: center;
    font-family: math;
}

.descriptionAbout {
    position: relative;
    display: grid;
    grid-area: header;
    background-color: #3a6643;
    width: 100%;
    top: 0px;
    left: 0px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.asideMyWorks {
    position: relative;
    grid-area: headerMyWorks;
    display: flex;
    width: 100%;
    height: 25px;
    background-color:#6e9756;
    border: 0px solid;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.content {
    position: relative;
    width: 100%;
    height: -webkit-fill-available;
    grid-area: content;
    display: grid;
    padding: 10px 0px 10px;
    border: 0px solid;
    grid-gap: 12px;
    background: #f2e7d0;
    grid-template-columns: repeat(auto-fit, 259px);
    grid-template-rows:
        min-content min-content;
    justify-items: center;
    justify-content: center;
    align-items: start;
}

.itemBlock {
    position: relative;
    display: flex;
    height: 300px;
    border: 0px solid;
    border-radius: 6px;
    background: #6c9852;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
}

.itemText {
    position: relative;
    color: #f2e7d0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.hrefText {
    position: relative;
    color: #f2e7d0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.hrefText:hover {
    color: #ba4548;
}

.itemButton {
    position: relative;
    width: 100px;
    height: 33px;
    background-color: #3a6643;
    font-weight: bold;
    color: #f2e7d0;
    text-align: center;
    border-radius: 14px;
    border: 0px solid #ba4548;
    user-select: none;
}

.itemButton:hover {
    color: #ba4548;
}

.infoBlock {
    position: relative;
    grid-area: info;
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #3a6643;
    border: 0px solid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.infoText {
    position: relative;
    padding: 5px;
    top: 0px;
    left: 0px;
    color: #f1f0eb;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

audio {
    width: 250px;
    height: 54px;
    scale: 0.8;
}

.logoGame {
    position: relative;
}

.spaceShooterCollages {
    position: relative;
    border-radius: 15px;
    padding: 6px;
}